@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url("https://unicons.iconscout.com/release/v4.0.0/css/line.css");

:root{
  .light{
    --title-color: #654321;
    // --background-home: #FFEADB;
    --background-home: #FEF7DC;
    // --background-page: #679B9B;
    --background-page: #78afaf;
    --background-contact: #FF9A76;
    --container-color: #fff;
  }
  
  .dark{
    --title-color: #8FE3CF;
    --background-home: #002B5B;
    --background-page: #2B4865;
    --background-contact: #256D85;
    --container-color: #000;
  }

  --header-height: 3rem;
  --hue: 0;
  --sat: 0%;
  --text-color: hsl(var(--hue), var(--sat), 20%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  
  --body-font: "Poppins", sans-serif;
  --header-name-font: 'Leckerli One', cursive;

  --big-font-size: 4rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.725rem;

  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(7, 19, 67, 0.2);

  &::-webkit-scrollbar {
    width: 10px;
    height: 0px;
  }

  &::-webkit-scrollbar-track {
    width: 10px;
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(7, 19, 67, 0.2);
  }

}

@media screen and (max-width: 992px) {
  :root{
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main{
  position: relative;
  z-index: 1;
}

body, button,input,textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a{
   text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* REUSABLE CSS CLASSES */
.section {
  // min-height: 100vh;
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: 0.5rem;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.button {
  display: inline-block;
  background-color:  var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 100% !important;
    width: auto !important;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  .button{
    padding: 1rem 1.75rem;
  }

  .button__icon{
    width: 22px;
    height: 22px;
  }
}

@media screen and (max-width: 768px) {
  body{
    margin: 0 0 var(--header-height) 0;
  }
  .section{
    padding: 2rem 0 4rem;
  }
}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 350px) {
  :root{
    --big-font-size: 2.225rem;
  }
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1);
  }
  
}